@model SliderEditVM
@{
    ViewData["Title"] = "Edit";
}


<div class="container my-5">
    <div class="slider-image">
        <img src="~/img/@Model.Image" style="width:500px; height:300px"/>
    </div>
    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <input asp-for="NewImage" class="form-control mt-3" style="width:500px;" />
        <span asp-validation-for="NewImage" class="text-danger d-block"></span>
        <button type="submit" class="btn btn-inverse-primary btn-fw mt-3">Submit</button>
        <a asp-action="Index" class="btn btn-outline-info btn-fw mt-3">Back</a>
    </form>
</div>