@model ProductDetailVM
@{
    ViewData["Title"] = "Detail";
}


<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Slider Detail Table</h4>
            <div class="table-responsive pt-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Category
                            </th>                         
                            <th>
                                Create Date
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @foreach (var item in Model.Images)
                                {
                                    <img src="~/img/@item" alt="image" style="with:100px;height:50px; border-radius:0%" />
                                }                                
                            </td>

                            <td>
                                @Model.Name
                            </td>
                            <td>
                                @Model.Description
                            </td>
                            <td>
                                @Model.Price.ToString("0.####")
                            </td>

                            <td>
                                @Model.CreatedDate
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <br></br>
            <a asp-action="Index" class="btn btn-outline-info btn-fw">Back</a>
        </div>
    </div>

</div>


